<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
    <DisableAppDomain>False</DisableAppDomain>
    <TestSessionTimeout>10000</TestSessionTimeout>
    <ExecutionThreadApartmentState>STA</ExecutionThreadApartmentState>
  </RunConfiguration>
  <MSTest>
    <!-- Enable legacy mode, legacy setting are honored only when this flag is set to true -->
    <ForcedLegacyMode>true</ForcedLegacyMode>
  </MSTest>
  <TestRunParameters>
  </TestRunParameters>
</RunSettings>