<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
    <!--<DisableAppDomain>False</DisableAppDomain>-->
    <TargetFrameworkVersion>.NET Framework, Version=v4.6.2</TargetFrameworkVersion>
    <!--<TestSessionTimeout>10000</TestSessionTimeout>-->
  </RunConfiguration>
  <!--<MSTest>
    --><!-- Enable legacy mode, legacy setting are honored only when this flag is set to true --><!--
    <ForcedLegacyMode>true</ForcedLegacyMode>
  </MSTest>-->
  <TestRunParameters>
  </TestRunParameters>
</RunSettings>